body{

}
.container{
    
    display: flex;
    align-content: stretch;
    background-color:#000000;
    height: 100%;
    width: 100%;
}

.left{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20vw;
    border-radius: 10px;
    background-color: pink;
    box-sizing: border-box;
}

.top{
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 60vw;
    border-radius: 10px;
    background-color: lavender;
    box-sizing: border-box;
}

.body{
    display: flex;
    align-self: flex-end;
    height: 90vh;
    width: 80vw;
    border-radius: 10px;
    background-color: lavender;
    box-sizing: border-box;

}


